.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 35px;
}
img {
  max-width: 100%;
  height: auto;
}
Link {
  outline: 0;
}
.index-main-img {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.index-main-img {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 748px) {
  .index-main-img {
    padding-top: 80px;
  }
}

@media screen and (min-width: 300px) {
  .index-main-img {
    padding-top: 80px;
  }
}

@media screen and (min-width: 200px) {
  .index-main-img {
    padding-top: 80px;
  }
}
.index-grid-img-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.index-grid-img-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.info-of-img-below {
  text-align: center;
  color: #ffffff;
  background-color: #f84258;
  height: 30px;
  padding-top: 5px;
}

@media screen and (max-width: 576px) {
  .index-grid-img-1 {
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
  }

  .index-grid-img-1 > * {
    margin-bottom: 20px;
  }

  .info-of-img-below {
    font-size: 12px;
  }
}

@media screen and (min-width: 577px) and (max-width: 712px) {
  .info-of-img-below {
    font-size: 9px;
  }
}

@media screen and (min-width: 713px) and (max-width: 891px) {
  .info-of-img-below {
    font-size: 12px;
  }
}

.index-grid-img-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 1130px) {
  .index-grid-img-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .index-grid-img-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .index-grid-img-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
